:root {
    --background: #CBE9F3;
    --primary: #6E8DA1;
    --accent: #12314E;
    --font-family: 'Great Vibes'
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


*{
    font-family: Arial, Helvetica, sans-serif;
    color: var(--accent);
}

html {
    scroll-behavior: smooth;
}


body  {
    background-color: var(--background);
    margin: 0;
    padding: 0;
    animation: fadeIn 2s ease-in-out;

}

.outline{
    margin-top: 100px;
    margin-left: 10px;
    width: 300px;
    height: 180px;
    border: 2px solid var(--accent);
    z-index: 0;
    margin-bottom: -280px;
}

.header {
    margin: 70px auto 0;
    width: 300px;
    height: 180px;
    background-image: url(/Images/HEADEER2.JPG);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    z-index: 1;
}

.header img{
    margin-top: -50px;
    margin-left: -60PX;
    width: 45%;
    height: auto;
    filter: drop-shadow(5px 3px 3px rgba(0, 0, 0, 0.400));
    z-index: 1;
}

.header2{
    display: flex;
}

.header2 img{
    margin-left: auto;
    margin-top: -60px;
    width: 40%;
    height: auto;
    filter: drop-shadow(-5px 3px 3px rgba(0, 0, 0, 0.400));
}

.acara h1{
    text-align: center;
    font-family: var(--font-family);
    font-size: 46px;
    font-weight: 100;
    margin-bottom: -15px;

}

.time{
    background-color: var(--accent);
    width: 40%;
    border-radius: 100px;
    margin: 0 auto 0;
    
}

.time p{
    padding: 10px 0;
    text-align: center;
    color: white;
    margin-bottom: 15px;

}

.tahun p{
    text-align: center;
    font-size: 22px;
    margin-top: -12px;
}

.grid {
    margin-top: -30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding: 30px 40px;
}

.tanggal p {
    border-left: 1px solid var(--accent);
    border-right: 1px solid var(--accent);
    font-size: 42px;
    margin: 0;
}

.bawah {
    margin-top: 75px;

}

.FotoBawah{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.FotoBawah img {
    width: 65%;
    height: auto;
}

.DeskripsiBawah {
    margin-top: -200px;
    width: 100%;
    background-color: var(--primary);
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alamat{
    display: flex;
    flex-direction: column;
    margin-top: 220px;
    align-items: center;

}

.alamat p {
    text-align: center;
    margin-bottom: -1px
}

i{
    font-size: 42px;
    margin-bottom: 10px;
}

.qr {
    background-color: var(--accent);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 230px;
}

.qr img {
    padding-top: 30px;
    width: 50%;
    height: auto;
}

.qr p {
    text-align: center;
    color: var(--background);
    font-size: 16px;
    font-weight: bold;
}

.undang{
    display: flex;
    flex-direction: column;
}

.foto{
    background-image: url(/Images/fotowanita.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.foto img{
    padding-left: 20%;
    width: 60%;
    margin-top: 30px;
    margin-bottom: 530px;
    opacity: 80%;

}

.mengundang{
    margin-top: -45%;
    border-radius: 40px 40px 0 0;
    background-color: var(--primary);
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mengundang h1, h2{
    font-size: 18px;
    margin-bottom: -5px;
}

.mengundang p{
    font-size: 16px;
    margin-bottom: 5px;
}

.mengundang img{
    margin-top: 50px;
    width: 20%;
    padding-bottom: 130px;
}


.foto2{
    border-radius: 40px 40px 0 0;
    margin-top: -100px;
    background-image: url(/Images/fotopria.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.foto2 img{
    padding-left: 20%;
    width: 60%;
    margin-top: 30px;
    margin-bottom: 530px;
}

.mengundang2{
    margin-top: -45%;
    border-radius: 40px 40px 0 0;
    background-color: var(--primary);
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mengundang2 h1, h2{
    font-size: 18px;
    margin-bottom: -5px;
}

.mengundang2 p{
    font-size: 16px;
    margin-bottom: 5px;
}

.mengundang2 img{
    margin-top: 50px;
    width: 20%;
    padding-bottom: 30px;

}

.containerayat{
    background-color: var(--background);
    padding: 20px 20px;

}

.ayat{
    background-color: var(--primary);
    padding: 10px 10px;

}

.judulayat{
    display: flex;
}

.judulayat img{
   width: 40%; 
   height: 50%;
   padding-top: 15px;
   padding-left: 15px;
}

.judulayat h1{
    font-size: 42px;
    padding-left: 10px;
}

.ayat p{
    margin-top: -20px;
    padding: 15px 15px;
    font-size: 16px;
}

.footer {
    background-image: url(/Images/footter.JPG);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    padding-bottom: 50px; 
}

.footer p {
    font-family: var(--font-family);
    font-size: 64px;
    color: white;
    margin-bottom: 20px; 
}

.button1 a {
    background-color: #12314E;
    padding: 8px 30px;
    border-radius: 100px;
    color: white;
    margin-top: 10px; 
    text-decoration: none; 
    font-weight: 500;
    transition: all 0.3s ease;

}

.button1 {
    margin-top: 10px; 
}

.button1 a:hover{
    background-color: var(--primary);
    padding: 8px 60px;
    transition: all 0.3s ease;
}